<footer class="main-footer">
  <div class="footer-bottom">
    <div class="footer-social-left">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <p class="footer-rights">© MiEcommerce. Todos los derechos reservados.</p>
    <div class="footer-apps-right">
      <i class="fa-brands fa-google-play"></i>
      <i class="fa-brands fa-apple"></i>
    </div>
  </div>
</footer>